

.card {

  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
  background-color: aliceblue;
}

.nomeUtente{

  font-size: 16px;



}

.descrizionePost{

  font-size: 20px;
  margin: 0 auto;



}

.numCommenti{
  color:cornflowerblue;

}

.nomeUtenteCommento{
  color: #fdfffb;
  background-color: #1877F2;
  font-size: 12px;
}




.boxCommento{
  /*background-color: #d6d8d4*/

}


.valutazione-form{

}
.valutazione-input{
  width: 25%;
  padding: 1px 1px;
  margin: 3px 0;
  box-sizing: border-box;

}

.valutazione-button{
    margin-left: 5px;
}

.button-commenti{
  padding: 2px 2px;
}

.commenti-form {
    margin-left : 65px;
    margin-bottom: 5px;
    height: 25px;
}
.inserimento_commenti_input {

}

.commenti-button {
  margin-left : 5px;
  color: green;

}

