
.nomeUtente{
  background-color: #fdfffb;
  font-size: 16px;
}

.descrizionePost{
  background-color: #fdfffb;
  font-size: 20px;
}

.numCommenti{
  background-color: #dfe7ff
}

.nomeUtenteCommento{
  font-size: 10px;
}

.commento{
  background-color: #c2c9e1;
}

