
<!-- Carta del post -->
<div class="card">

  <!-- Nome dell'utente che ha fatto il post -->
  <div class="nomeUtente">
    <p>{{post.nomeUtente}}</p>
  </div>

  <!-- Descrizione del post -->
  <div class="descrizionePost">
    <p>{{post.descrizione}}</p>
  </div>

  <!-- TODO Qua devono essere messi i file che verranno condivisi -->
  FILE CONDIVISI
  <!-- Valutazione del post -->
  <p>{{post.valutazione}}</p>

   <!-- bottone per displayare o meno i commenti di un post -->
  <button class = "button-commenti" (click)="activeCommenti()">
    Commenti
  </button>

  <!-- Sezione per il numero di commenti -->
  <div class="numCommenti">
    <hr>
    <p>{{commenti.length}} commenti</p>
    <hr>

  </div>

  <!-- Elenco dei commenti, con Utente e testo del commento -->
  <div *ngIf="(commentiActived == true); then thenBlocco else elseBlocco">
    <ng-template #thenBlocco>

      <div *ngFor="let c of commenti">

        <div class="boxCommento">
             <span><small class="nomeUtenteCommento">{{c?.nomeUtente}}</small><small class="commento">{{c?.testo}}</small></span>
         <div>
          </div>

          <div *ngIf="(c?.nomeUtente == myNickName()); then thenBlock else elseBlock"></div>
          <ng-template #thenBlock>
            <button class="button-solid" (click)="deleteCommento(c.id)">
              remove
            </button>
          </ng-template>
          <ng-template #elseBlock></ng-template>
        </div>
      < hr>

      </div>

    <form #form="ngForm" class="login-form"(ngSubmit)="newCommento(form, post.id)">
      <input type="text" name="commento" ngModel placeholder="Inserisci commento" required>

      <button type="submit"
             class="login-button"
              [disabled]="form.invalid || form.pending">
        commenta
      </button>
    </form>
  </ng-template>
    <ng-template #elseBlocco></ng-template>
  </div>

</div>
