<section class="register">
  <div class="header">
    <h3>
      Sign up
    </h3>
    <p>It's quick and easy</p>
  </div>
  <div class ="body">
    <form #form="ngForm" class="login-form"(ngSubmit)="registerFunc(form)">
      <input type="text" name="nome" ngModel placeholder="First Name" required>
      <input type="text" name="cognome" ngModel placeholder="Last Name" required>
      <input type="text" name="nickname" ngModel placeholder="Username" required>
      <input type="text" name="email" ngModel placeholder="Email" required>
      <input type="password" name="password" ngModel placeholder="Password" required>


      <button type="submit"
              class="login-button"
              [disabled]="form.invalid || form.pending">
        register
      </button>
    </form>
  </div>


  {{prop}}

  {{utente.nome}}
  {{utente.cognome}}
  {{utente.nomeUtente}}
  {{utente.email}}
  {{utente.password}}

</section>
