<section class="register">
  <div class="header">
    <h3>
      Sign up
    </h3>
    <p>It's quick and easy</p>
  </div>
  <div class ="body">
    <form #form = "ngForm">
      <div class="user_name">
        <input type="text" placeholder="Firstname" name="fname" NgModel>
        <input type="text" placeholder="LastName" name="lname" NgModel>
      </div>
      <div class="email_password">
        <input type="text" placeholder="Email" name="email" NgModel>
        <input type="text" placeholder="Password" name="fname" NgModel>
      </div>

      <button type="submit" class="submit-button" [mat-dialog-close]="form.value">Sign Up</button>
    </form>
  </div>

</section>
