<div class="new-post-container">
<b class = "paragrafo"> Pubblica un post :</b>
<form #form="ngForm" class="new-post-form"(ngSubmit)="postMessage(form)">

  <input class="post-input" type="text" name="message" ngModel placeholder="Descrizione post" required>


    <div class="categorie-container">
     <!-- <label class="categoria label">Categoria :</label>-->

      <!--
      <select name="categoria" (change)="changeCategoria($event)" class="categoria-select">
        <option *ngFor = "let categoria of categs" [value]="categoria">{{categoria}}</option>
      </select>
      -->
      <i>Categoria :</i>
      <select #categ (change)="changeCategoria(categ.value)" style="margin-left: 3px">
       
        <option *ngFor = "let categoria of categs" [value]="categoria">{{categoria}}</option>
      </select>


    </div>

  <button type="submit"
            class="new_post-button"
            [disabled]="form.invalid || form.pending">
      Pubblica
    </button>
</form>
</div>
