@import "src/styles";
.new-post-container{

}
.new-post-form{
  width: 100%;
  margin:0 auto;

}
.paragrafo{
  position: absolute;
  top: auto;

  margin-bottom: 10px;

}
.categorie-container{
  margin-top: 5px;


}
.post-input{
  margin-top: 20px;
  margin-bottom: 5px ;
  width: 180%;
  height: 50px;
  text-align: center;
}
.categoria-label{

  margin-left :1px;
}
.categoria-select{
  margin-left: 5px;
}
.new_post-button{

  color:$primary-button-color;
  margin-top: 10px;

}
